// General
body {
    font-family: monospace;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

#poetry {
    max-width: 30em;
    margin: 0 auto;
    background: transparentize(white, 0.8);
}
.poem {
    white-space: pre-wrap;
    margin: 1em;
    .text {
        position: relative;
        margin: 1em 0;
        filter: blur(6px);
        transition: 2s;
        &:target {
            background: #ae0;
            filter: blur(0);
        }
    }
}

.next {
    display: inline-block;
    padding: 2em;
    background: #444;
    color: #ae0;
    
    &:hover {
        color: #444;
        background: #ae0;
    }    
}

/* Camera background */
#camera {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: -5;
}

/* Graph */
#graph {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -4;
    width: 100%;

    line {
        stroke-width: 2;
    }
}
